<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1 class="moonlight-header"><a href="//moonlight-academy.com">Moonlight Academy</a></h1>
    <h2>CI/CD demo with Gitlab + Java + Spring Boot</h2>
    <h3 th:text="${version}">version</h3>
    <!-- <h3>v1.0.0</h3> -->
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This is a demonstration of CI/CD concept with Java + Spring Boot
  </div>
  <hr>
  
</div>

</body>
</html>
